 .u-section-1 {
  min-height: 1548px;
}

.u-section-1 .u-shape-1 {
  width: 498px;
  height: 559px;
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.4);
  margin: 70px calc(((100% - 1140px) / 2) + -183px) 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -551px calc(((100% - 1140px) / 2) + -162px) 0 calc(((100% - 1140px) / 2) + 846px);
}

.u-section-1 .u-slider-1 {
  width: 873px;
  min-height: 508px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -515px auto 0 calc(((100% - 1140px) / 2) + -136px);
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-image-1 {
  background-image: url("images/700x371-63caa8dd4a8cc.jpg");
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 899px;
  height: 521px;
  margin: -6px -26px -6px auto;
}

.u-section-1 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 9px;
}

.u-section-1 .u-image-3 {
  width: 896px;
  left: auto;
  right: -26px;
}

.u-section-1 .u-carousel-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 53px;
  height: 53px;
  background-image: none;
  left: -58px;
  position: absolute;
  top: 232px;
  right: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-1 .u-carousel-control-2 {
  width: 53px;
  height: 53px;
  background-image: none;
  left: auto;
  position: absolute;
  top: 232px;
  right: -58px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-1 .u-image-5 {
  height: 719px;
  margin-top: 56px;
  margin-bottom: 0;
  filter: brightness(0.55);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -245px calc(((100% - 1140px) / 2) + -183px) 0 calc(((100% - 1140px) / 2) + 156px);
}

.u-section-1 .u-btn-1 {
  font-size: 1.25rem;
  font-weight: 700;
  box-shadow: 0px -40px 0px 0 rgba(0,0,0,0);
  transition-duration: 1.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 33px auto 35px;
  padding: 21px 30px 22px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1885px;
  }

  .u-section-1 .u-shape-1 {
    width: 998px;
    height: 304px;
    margin-top: 594px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -285px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-slider-1 {
    margin-top: -826px;
    margin-right: calc(((100% - 940px) / 2) + 19px);
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    margin-top: 382px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -295px;
    margin-right: calc(((100% - 940px) / 2) + -29px);
    margin-left: calc(((100% - 940px) / 2) + -10px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 53px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1319px;
  }

  .u-section-1 .u-shape-1 {
    width: 768px;
    margin-top: 447px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -304px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-slider-1 {
    width: 720px;
    min-height: 407px;
    margin-top: -736px;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 417px;
    margin-right: 0;
  }

  .u-section-1 .u-carousel-control-1 {
    width: 41px;
    height: 41px;
    left: -46px;
  }

  .u-section-1 .u-carousel-control-2 {
    width: 41px;
    height: 41px;
    top: 182px;
    right: -46px;
  }

  .u-section-1 .u-image-5 {
    height: 433px;
    margin-top: 366px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: -217px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 2.25rem;
    margin-top: 35px;
    margin-bottom: 15px;
    padding-top: 7px;
    padding-bottom: 8px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1163px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 578px);
    height: 237px;
    margin-top: 334px;
    margin-left: 12px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    margin-top: -230px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-slider-1 {
    width: 552px;
    min-height: 301px;
    margin-top: -554px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 313px;
  }

  .u-section-1 .u-carousel-item-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-carousel-control-1 {
    width: 32px;
    height: 32px;
    left: -39px;
  }

  .u-section-1 .u-carousel-control-2 {
    width: 32px;
    height: 32px;
    right: -39px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 289px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: -187px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 40px;
    margin-bottom: 29px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 665px;
  }

  .u-section-1 .u-shape-1 {
    width: 390px;
    height: 166px;
    margin-top: 192px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.75rem;
    margin-top: -159px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-slider-1 {
    width: 340px;
    min-height: 172px;
    margin-top: -342px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 197px;
  }

  .u-section-1 .u-carousel-control-1 {
    width: 25px;
    height: 25px;
    left: -35px;
  }

  .u-section-1 .u-carousel-control-2 {
    width: 25px;
    height: 25px;
    right: -35px;
  }

  .u-section-1 .u-image-5 {
    height: 227px;
    margin-top: 188px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.625rem;
    margin-top: -128px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.25rem;
    margin-top: 11px;
    margin-bottom: 11px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}